<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input v-model="message" placeholder="여기를 수정해보세요" />
      <p>메시지: {{ message }}</p>
      <span>여러 줄을 가지는 메시지:</span>
      <p style="white-space: pre-line;">{{ message }}</p>
      <br />
      <textarea v-model="message" placeholder="여러줄을 입력해보세요"></textarea>
    </div>

    <div id="example-3">
      <input type="checkbox" id="jack" value="Jack" v-model="checkedNames" />
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="checkedNames" />
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="Mike" v-model="checkedNames" />
      <label for="mike">Mike</label>
      <br />
      <span>체크한 이름: {{ checkedNames }}</span>
      <br />

      <select v-model="selected" multiple>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <br />
      <span>Selected: {{ selected }}</span>
    </div>
  </body>
  <script>
    var vue = new Vue({
      el: "#app",
      data: {
        message: "",
      },
    });

    new Vue({
      el: "#example-3",
      data: {
        checkedNames: [],
        selected: "",
      },
    });
  </script>
</html>
